/css.css
/CSS_Latihan21.css
/Hobby_Fauzi.html
/Image
/KRS.html
/Latihan_1.html
/Latihan_10.html
/Latihan_11.html
/Latihan_12.html
/Latihan_13.html
/Latihan_14.html
/Latihan_15.html
/Latihan_16.html
/Latihan_17.html
/Latihan_18.html
/Latihan_19.html
/Latihan_2.html
/Latihan_20.html
/Latihan_21.html
/Latihan_3.html
/Latihan_4.html
/Latihan_5.html
/Latihan_6.html
/Latihan_7.html
/Latihan_8.html
/Latihan_9.html
/Modul
/Tugas_HTML1.html
/Tugas_HTML2.html
/Vidio